@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #f4f5fa;
    font-family: "Raleway", sans-serif;
    background-image: linear-gradient(to left bottom, #0e2a47, #1e3d5f, #2e5177, #3f6591, #4f7bab);
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap; /* change to wrap*/
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(34%2c 100%2c 171%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c71 C 57.6%2c110.2 172.8%2c262.8 288%2c267 C 403.2%2c271.2 460.8%2c115.8 576%2c92 C 691.2%2c68.2 748.8%2c147.8 864%2c148 C 979.2%2c148.2 1036.8%2c76.2 1152%2c93 C 1267.2%2c109.8 1382.4%2c204.2 1440%2c232L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c513 C 96%2c470 288%2c298.2 480%2c298 C 672%2c297.8 768%2c495.2 960%2c512 C 1152%2c528.8 1344%2c408 1440%2c382L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    border-radius: 10px;
    text-align: center;
}

img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

h1 {
    padding: 0.25em 0;
}

.inputContainer {
    display: flex;
    flex-flow: column wrap;
    gap: 0.4rem;
}

p {
    font-size: 12px;
}

input {
    border: 1px solid #f4f5fa;
    color: rgb(16, 16, 16);
    height: 1.6rem;
    padding: 1rem 0.7rem;
    border-radius: 5px;
    background: transparent;
    font-weight: bold;
}

input:last-child {
    padding: 0;
}

input:focus {
    border: none;
}

::placeholder {
    font-weight: 500;
    color: rgb(16, 16, 16);
    opacity: 0.8;
}

button {
    appearance: none;
    background-color: #4287f5;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
    color: #f4f5fa;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

button:hover {
    color: #4287f5;
    background-color: #f4f5fa;
}

a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
